- content_for :custom_styles do
  %link{:rel => "stylesheet", :type => "text/css", :href => "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.1/themes/base/jquery-ui.css"}
  = stylesheet_link_tag 'map'
  = stylesheet_link_tag '../farbtastic/farbtastic.css'
- content_for :custom_scripts do
  = javascript_include_tag 'map'
  = javascript_include_tag '../farbtastic/farbtastic.js'
%div#map-wrapper
  %img{:src => "/images/maps/#{@map.image_url}", :width => '1024'}
  %div#blocks
    = render "map/blocks"
%div#commands
  %div#delete-block-wrapper
    %input#delete-block{:type => 'checkbox'}
    %label{:for => 'delete-block'} Delete Block
  %input#refresh{:type => 'button', :value => 'Refresh Map', :data_map_id => @map.id}
  %input#new-block{:type => 'button', :value => 'New Block', :data_map_id => @map.id}
  %div#farb
  %input#current-color{:value => '#ff0000'}